.container {
  &:global(.MuiStack-root) {
    flex-grow: 1;
    align-items: center;
    min-height: 42px;
    padding: 0 8px;
  }
}

.body {
  &:global(.MuiStack-root) {
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
  }
}

.icon {
  &:global(.MuiSvgIcon-root) {
    color: rgba(255, 255, 255, 0.42);
    min-height: 1.5rem;
  }
}

.text {
  &:global(.MuiTypography-root) {
    color: rgba(255, 255, 255, 0.42);
    font-size: 1rem;
  }
}
