.container {
  &:global(.MuiStack-root) {
    height: 100%;
  }
}

.title {
  &:global(.MuiStack-root) {
    &:not(:empty) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      padding: 8px 16px;
    }
    &.buttons {
      padding-right: 8px;
    }
  }
}

.name {
  &:global(.MuiStack-root) {
    padding: 1px 0;
  }
}

.selectButtonContainer {
  &:global(.MuiStack-root) {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    padding: 8px;
  }
}

.tags {
  &:global(.MuiList-root) {
    overflow-y: auto;
    overscroll-behavior: contain;
    flex-grow: 1;
    padding-top: 0;
    padding-bottom: 0;
    scrollbar-width: thin;
  }
}

.tag {
  &:global(.MuiListItemButton-root) {
    &:not(:hover) .tagButton {
      display: none;
    }
  }
}

.tagMoreContainer {
  &:global(.MuiStack-root) {
    padding: 6px;
    color: rgba(0, 0, 0, 0.54);
  }
}

.tagMoreButton {
  &:global(.MuiButton-root .MuiButton-endIcon) {
    margin-left: 2px;
  }
}

.tagSearch {
  &:global(.MuiAutocomplete-root .MuiInputBase-input) {
    font-size: 0.875rem;
  }
}

.tagSearchPopper {
  &:global(.MuiAutocomplete-popper .MuiAutocomplete-loading),
  &:global(.MuiAutocomplete-popper .MuiAutocomplete-noOptions) {
    display: none;
  }

  &:global(.MuiAutocomplete-popper .MuiAutocomplete-option) {
    padding-left: 8px;
  }
}
