.container {
  &:global(.MuiStack-root) {
    padding: 12px 20px;
    height: 100%;
  }
}

.breadcrumbs {
  &:global(.MuiStack-root) {
    flex-grow: 1;
    overflow: hidden;
  }
}

.buttons {
  &:global(.MuiStack-root) {
    flex-shrink: 0;
  }
}
