services:
  api:
    build:
      context: ./api
      target: debug
    command: /usr/local/bin/hoarder
    working_dir: /usr/src
    ports:
      - '8080:8080'
    environment:
      LOG_FORMAT: pretty
      LOG_LEVEL: debug,handlebars=info,hyper=info,tungstenite=info
      CLICOLOR_FORCE: '1'
      PORT: '8080'
      LOCALE: ja-JP
      PGHOST: database
      PGDATABASE: hoarder
      PGUSER: hoarder
      PGPASSWORD: hoarder
      PGSSLMODE: disable
      MEDIA_ROOT_DIR: /media
    volumes:
      - type: bind
        source: .
        target: /usr/src
      - type: volume
        source: media
        target: /media

  ui:
    build:
      context: ./ui
      target: debug
    command: yarn dev
    ports:
      - '3000:3000'
    environment:
      PORT: '3000'
      API_URL: http://api:8080
    volumes:
      - type: bind
        source: ./ui
        target: /usr/src

  database:
    image: postgres:17.9
    ports:
      - '5432:5432'
    environment:
      PGUSER: hoarder
      POSTGRES_DB: hoarder
      POSTGRES_USER: hoarder
      POSTGRES_PASSWORD: hoarder
    volumes:
      - type: volume
        source: database
        target: /var/lib/postgresql/data

volumes:
  database:
    driver: local
  media:
    driver: local
