[package]
name = "media"
authors.workspace = true
edition.workspace = true
license.workspace = true

[lib]
doctest = false

[dependencies.application]
workspace = true

[dependencies.derive_more]
version = "2.1.0"
features = ["constructor"]
