.container {
  &:global(.MuiImageList-root) {
    grid-template-columns: repeat(3, 1fr) !important;
    margin: 0;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;

    @media (min-width: 900px) {
      grid-template-columns: repeat(4, 1fr) !important;
    }

    @media (min-width: 1200px) {
      grid-template-columns: repeat(6, 1fr) !important;
    }
  }
}

.pagination {
  &:global(.MuiStack-root) {
    margin: 48px auto;
  }
}

.noMedia {
  &:global(.MuiStack-root) {
    padding-bottom: 48px;
  }
}

.icon {
  &:global(.MuiSvgIcon-root) {
    font-size: 4rem;
    color: rgba(0, 0, 0, 0.54);
  }
}

.text {
  &:global(.MuiTypography-root) {
    color: rgba(0, 0, 0, 0.54);
  }
}
