.container {
  &:global(.MuiImageList-root) {
    grid-template-columns: repeat(3, 1fr) !important;
    padding: 16px;

    @media (min-width: 900px) {
      grid-template-columns: repeat(4, 1fr) !important;
    }

    @media (min-width: 1200px) {
      grid-template-columns: repeat(6, 1fr) !important;
    }
  }
}

.pagination {
  &:global(.MuiStack-root) {
    margin: 48px auto;
  }
}
