.container {
  &:global(.MuiStack-root) {
    flex-grow: 1;
    align-items: center;
  }
}

.body {
  &:global(.MuiStack-root) {
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
  }
}

.icon {
  &:global(.MuiSvgIcon-root) {
    color: #666;
    min-height: 1.5rem;
  }
}

.text {
  &:global(.MuiTypography-root) {
    color: #666;
    font-size: 0.95rem;
  }
}
