.header {
  &:global(.MuiStack-root) {
    align-items: center;
    justify-content: space-between;
    min-height: 36px;
    padding: 0 0 6px;
  }
}

.title {
  &:global(.MuiTypography-root) {
    font-size: 1.05rem;
  }
}

.body {
  &:global(.MuiStack-root) {
    align-items: center;
  }
}

.source {
  &:global(.MuiStack-root) {
    align-items: center;
    justify-content: space-between;
  }
}

.newSourceContainer {
  &:global(.MuiStack-root) {
    flex-grow: 1;
  }
}

.newSource {
  &:global(.MuiAutocomplete-root .MuiInputBase-input) {
    padding-top: 2px;
    font-size: 0.95rem;
    color: #666;
  }
}

.newSourcePopper {
  &:global(.MuiAutocomplete-popper) {
    width: auto !important;
  }

  &:global(.MuiAutocomplete-popper .MuiAutocomplete-loading),
  &:global(.MuiAutocomplete-popper .MuiAutocomplete-noOptions) {
    display: none;
  }

  &:global(.MuiAutocomplete-popper .MuiAutocomplete-option) {
    padding-left: 8px;
  }
}
