.toolbar {
  &:global(.MuiToolbar-root) {
    justify-content: space-between;
  }
}

.inner {
  &:global(.MuiStack-root) {
    flex-grow: 1;
    width: 0;
  }
}

.links {
  &:global(.MuiStack-root) {
    align-items: center;
  }
}

.buttons {
  &:global(.MuiStack-root) {
    justify-content: end;
  }
}

.nav {
  &:global(.MuiStack-root) {
    margin-left: 24px;
  }
}
