.container {
  &:global(.MuiStack-root) {
    justify-content: flex-end;
    padding: 12px 20px;
    height: 100%;
  }
}

.header {
  &:global(.MuiStack-root) {
    align-items: center;
    justify-content: space-between;
  }
}

.breadcrumbs {
  &:global(.MuiStack-root) {
    flex-grow: 1;
    overflow: hidden;
  }
}

.buttons {
  &:global(.MuiStack-root) {
    flex-shrink: 0;
  }
}
