.container {
  &:global(.MuiStack-root) {
    height: 100%;
  }
}

.title {
  &:global(.MuiStack-root) {
    &:not(:empty) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      padding: 8px 16px;
    }
    &.buttons {
      padding-right: 8px;
    }
  }
}

.externalServices {
  &:global(.MuiList-root) {
    overflow-y: auto;
    overscroll-behavior: contain;
    flex-grow: 1;
    padding-top: 0;
    padding-bottom: 0;
    scrollbar-width: thin;
  }
}

.externalService {
  &:global(.MuiListItemButton-root) {
    &:not(:hover) .externalServiceButton {
      display: none;
    }
  }
}

.externalServiceSearch {
  &:global(.MuiAutocomplete-root .MuiInputBase-input) {
    font-size: 0.875rem;
  }
}

.externalServiceSearchIcon {
  &:global(.MuiSvgIcon-root) {
    margin-top: 2px;
    margin-right: 6px;
    color: #666;
  }
}

.externalServiceSearchText {
  color: #666;
}

.externalServiceSearchPopper {
  &:global(.MuiAutocomplete-popper .MuiAutocomplete-loading),
  &:global(.MuiAutocomplete-popper .MuiAutocomplete-noOptions) {
    display: none;
  }

  &:global(.MuiAutocomplete-popper .MuiAutocomplete-option) {
    padding-left: 8px;
  }
}
