.container {
  &:global(.MuiStack-root) {
    height: 100%;
  }
}

.buttons {
  &:global(.MuiStack-root) {
    &:not(:empty) {
      padding: 12px 16px;
    }
  }
}

.externalServices {
  &:global(.MuiList-root) {
    overflow-y: auto;
    overscroll-behavior: contain;
    flex-grow: 1;
    padding-top: 0;
    padding-bottom: 0;
    scrollbar-width: thin;
  }
}

.externalService {
  &:global(.MuiListItemButton-root) {
    &:not(:hover) .externalServiceButton {
      display: none;
    }
  }
}
