.wrapper {
  &:global(.MuiGrid-root) {
    flex-wrap: nowrap;
    height: inherit;
    overflow: hidden visible;
  }
}

.column {
  &:global(.MuiGrid-root) {
    position: relative;
    flex-shrink: 0;
    height: inherit;
  }
}

.listColumn {
  &:global(.MuiGrid-root) {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
  }
}
