.header {
  &:global(.MuiStack-root) {
    min-height: 36px;
    padding: 0 0 6px;
  }
}

.title {
  &:global(.MuiTypography-root) {
    font-size: 1.05rem;
  }
}

.removed {
  text-decoration-line: line-through;
}

.newTag {
  &:global(.MuiAutocomplete-root .MuiInputBase-input) {
    padding-top: 4px;
    font-size: 0.95rem;
    color: #666;
  }
}

.newTagPopper {
  &:global(.MuiAutocomplete-popper) {
    width: auto !important;
  }

  &:global(.MuiAutocomplete-popper .MuiAutocomplete-loading),
  &:global(.MuiAutocomplete-popper .MuiAutocomplete-noOptions) {
    display: none;
  }

  &:global(.MuiAutocomplete-popper .MuiAutocomplete-option) {
    padding-left: 8px;
  }
}
