.autocomplete {
  &:global(.MuiAutocomplete-root .MuiInputBase-inputSizeSmall) {
    padding-left: 6px;
  }
}

.icon {
  &:global(.MuiSvgIcon-root) {
    color: #666;
  }
}

.open {
  &:global(.MuiIconButton-root) {
    margin: 4px 0;
  }
}
