.wrapper {
  &:global(.MuiStack-root) {
    margin: auto;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

.item {
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.image {
  margin: 0 auto;
  border-radius: inherit;
  max-width: 100%;
  max-height: 100%;
}

.noimage {
  margin: auto;
}

.noimageIcon {
  font-size: 72px;
  color: #ccc;
}

.loading,
.error {
  width: 288px;
  height: 288px;
  align-items: center;
  justify-content: center;

  & > :global(.MuiSkeleton-root) {
    width: 100%;
    height: 100%;
  }
}
