.breadcrumbs {
  &:global(.MuiStack-root) {
    align-items: center;
    margin: 0;
  }
}

.icon {
  &:global(.MuiSvgIcon-root) {
    color: #666;
    min-height: 1.5rem;
  }
}

.body {
  &:global(.MuiStack-root) {
    align-items: center;
  }
}

.text {
  &:global(.MuiTypography-root) {
    color: #666;
    font-size: 0.95rem;
  }
}

.retry {
  &:global(.MuiLink-root) {
    font-size: 14;
    cursor: pointer;
  }
}
