name: Update Schema
on:
  pull_request:
  push:
    branches:
      - master

defaults:
  run:
    shell: bash

jobs:
  graphql:
    name: GraphQL
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      GIT_AUTHOR_NAME: 'github-actions[bot]'
      GIT_AUTHOR_EMAIL: '41898282+github-actions[bot]@users.noreply.github.com'
      GIT_COMMITTER_NAME: 'github-actions[bot]'
      GIT_COMMITTER_EMAIL: '41898282+github-actions[bot]@users.noreply.github.com'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event_name == 'pull_request' && github.event.pull_request.head.ref || '' }}
      - name: Set up Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          rust-src-dir: api
          components: clippy
      - name: Build
        working-directory: api
        run: |
          cargo build
      - name: Update GraphQL Schema
        working-directory: api
        run: |
          target/debug/hoarder schema print > ../schema/hoarder.gql

          if git diff --exit-code &> /dev/null; then
            exit 0
          fi

          git add ../schema/hoarder.gql
          git commit --message="Update GraphQL Schema"
          git push
